body {
    font-family: 'Arimo', sans-serif;
}



.container {
    background-color: #3A4965;
    padding: 22px 29px 30px 20px;
    margin: 0 auto;
    width: 1143px;

}
table {
    --border-color: #cccccc45;
    --border: 0.5px solid var(--border-color);
    border-collapse: collapse;
    height: 684px;
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}


th, td {
    border: var(--border);
    padding: 1px;
    vertical-align: middle;
}

td  {
    width: 311px;
    height: 70px;
}

.standard {
    background-color: #89C331;
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 278px;
    height: 71px;
    vertical-align: middle;
}

.ultimate {
    background-color: #F04A56;
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 280px;
    height: 71px;
    vertical-align: middle;
}

.premium {
    background-color: #20807C;
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 278px;
    height: 71px;
    vertical-align: middle;
}
.choose {
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    padding: 11px;

}
.plan {
    font-size: 30px;
    text-align: center;

}
.sail {
    vertical-align: top;
    width: 98px;
    font-size: 60px;
    float: left;
    margin-left: 34px;
}
.cent {
    width: 31px;
    font-size: 23px;
    float: left;
    margin-left: 1px;
    margin-bottom: 3px;
    padding-top: 7px;
}

.text {
    width: 143px;
    font-size: 18px;
    font-weight: normal;
    float: left;
    margin-left: 1px;
    text-align: left;
}

.str {
    background-color: #F2F2F2;
}

.ban {
    background-color: #E3E3E3;
}


.per {
    background-color: #FAFAFA;
    color: #484848;
    font-size: 60px;
    width: 278px;
    height: 87px;

}
.contact-td{
    background-color: #DDDDDD;
}
.contact-now {
    background-color: #F4F4F4;
}
.contact {
    background-color: #EEEEEE;
    vertical-align: middle;
}

.contact-us {
    background: #484848;
    box-shadow: inset 0 -55px 0 -50px #404040;
}
.buy-now {
    background: #89C331;
    box-shadow: inset 0 -55px 0 -50px #79B027;

}
.buy {
    background: #F04A56;
    box-shadow: inset 0 -55px 0 -50px #DF3A46;
}
.now {
    background: #20807C;
    box-shadow: inset 0 -55px 0 -50px #16736F;
}
button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 193px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    outline: none;
}
